.el-button--primary {
  color: #fff;
  background: linear-gradient(180deg, #375eb399 0%, #375EB3 48.44%, #0A3594 100%);
  border-color: unset !important;
  &:hover{
    background-color: #0A3594 !important;
  }
}
.el-button--primary.is-disabled{
  color: #fff;
  background: linear-gradient(180deg, #375eb399 0%, #375EB3 48.44%, #0A3594 100%);
  border-color: unset !important;
  opacity: 0.7;
  &:hover{
    background: linear-gradient(180deg, #375eb399 0%, #375EB3 48.44%, #0A3594 100%);
    opacity: 0.7;
  }
}
.el-button--info {
  color: #fff;
  border: none;
  background: linear-gradient(180deg, #e20076cc 0%, #E51A84 47.4%, #B0065F 100%);
  &:hover {
    background-color: #B0065F;
  }
}
.el-button--danger{
  color: #fff;
  background: linear-gradient(180deg, #f53e4d99 0%, #F53E4D 47.4%, #B00A17 100%) !important;
  border-color: none;
  &:hover{
    background-color: #B00A17 !important;
  }
}
.el-button--danger.is-disabled {
  color: #fff;
  background-color: linear-gradient(180deg, #f53e4d99 0%, #F53E4D 47.4%, #B00A17 100%) !important;
  border-color:none;
  opacity: 0.7;
  &:hover{
    background-color: linear-gradient(180deg, #f53e4d99 0%, #F53E4D 47.4%, #B00A17 100%) !important;
    opacity: 0.7;
  }
}
.el-pager{
  li.is-active{
      background-color: #254093 !important;
    }
  
}
.el-menu--popup {
  min-width: 140px !important;
  padding: 0 !important;
  border-radius: 5px !important;
  overflow: hidden;
}
.el-popper.is-light{
  border:none;
}
.el-menu--horizontal{
  border-bottom: none;
}
.el-radio__input.is-checked .el-radio__inner{
  background-color: #254093 !important;
  border-color: #254093 !important;
}
.el-checkbox__input.is-checked .el-checkbox__inner{
  background-color: #254093 !important;
  border-color: #254093 !important;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: #254093!important;
  border-color: #254093!important;
}
.el-table thead{
  font-weight: bold;
  color:#292C33
}