.el-button--primary {
  color: #fff;
  background-color: #254093 !important;
  border-color: #254093 !important;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  &:hover{
    background-color: rgba(37, 64, 147, 0.8) !important;
    border-color: rgba(37, 64, 147, 0.8) !important;
  }
}
.el-button--primary.is-disabled{
  color: #fff;
  background-color: #254093 !important;
  border-color: #254093 !important;
  opacity: 0.7;
  &:hover{
    background-color: #254093 !important;
    border-color: #254093 !important;
    opacity: 0.7;
  }
}
.el-button--info {
  color: #fff;
  border: none;
  background: linear-gradient(180deg, #e20076cc 0%, #E51A84 47.4%, #B0065F 100%);
  &:hover {
    background-color: #B0065F;
  }
}
.el-button--danger{
  color: #fff;
  background-color: #ce2c75 !important;
  border-color: #ce2c75 !important;
  &:hover{
    background-color: rgba(206, 44, 117, 0.8) !important;
    border-color: rgba(206, 44, 117, 0.8) !important;
  }
}
.el-button--danger.is-disabled {
  color: #fff;
  background-color: #ce2c75 !important;
  border-color: #ce2c75 !important;
  opacity: 0.7;
  &:hover{
    background-color: #ce2c75 !important;
    border-color: #ce2c75 !important;
    opacity: 0.7;
  }
}
.el-pager{
  li.is-active{
      background-color: #254093 !important;
    }
  
}
.el-menu--popup {
  min-width: 140px !important;
  padding: 0 !important;
  border-radius: 5px !important;
  overflow: hidden;
}
.el-popper.is-light{
  border:none;
}
.el-menu--horizontal{
  border-bottom: none;
}
.el-radio__input.is-checked .el-radio__inner{
  background-color: #254093 !important;
  border-color: #254093 !important;
}
.el-checkbox__input.is-checked .el-checkbox__inner{
  background-color: #254093 !important;
  border-color: #254093 !important;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: #254093!important;
  border-color: #254093!important;
}
.el-table thead{
  font-weight: bold;
}